@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mrs+Sheppards&display=swap");

.landing-container {
  background-image: url(https://i.pinimg.com/originals/31/e8/d1/31e8d1085e630936bcfeae5ed7a85f0c.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  color: white;
  display: grid;
  grid-template-rows: 10% 25% 1fr 10%;
  justify-content: center;
}

.name-holder {
  margin: 4em 0 0 1.25em;
  padding: 1em;
  /* background-color: rgba(255, 255, 0, 0.411); */
}

.name {
  font-family: 'Unica One', cursive;
  font-size: 80px;
  text-shadow: 1px 2px 3px yellow, 1px 4px 7px black;
}

.title {
  font-size: 40px;
  margin: -100px 0 0 396px;
  text-shadow: 1px 1px 4px black, 1px 2px 20px white;
  font-family: 'Advent Pro', sans-serif;
}
